@model IEnumerable<Invoices.Models.Customer>

@{
    ViewData["Title"] = "Računi grupirani po kupcima";
}

<h1>Računi grupirani po kupcima</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                KUPCI
            </th>
            <th><a asp-action="Index" asp-route-id="2">-14 do -8 dana</a>
                <a asp-action="Index" asp-route-id="1">-7 do -1 dana</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <table class="table">
                        <tbody>
                            @foreach (var invoice in item.Invoices)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => invoice.CustomerID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => invoice.InvoiceDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => invoice.TotalValue)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Pregled kupca</a>
            </td>
        </tr>
}
    </tbody>
</table>

